# ValidationResults

Validation results.


## Fields

| Field                                              | Type                                               | Required                                           | Description                                        |
| -------------------------------------------------- | -------------------------------------------------- | -------------------------------------------------- | -------------------------------------------------- |
| `results`                                          | List[[models.Validation](../models/validation.md)] | :heavy_check_mark:                                 | N/A                                                |